{{- $visitedPage := .page -}}
{{- $currentPage := .currentPage -}}
{{- $currentRenderDepth := .renderDepth -}}

{{- $newRenderDepth := $currentRenderDepth -}}

{{- $configureActive := false }}
{{- $configureInactive := false }}
{{- $decrement := false }}
{{- if eq $visitedPage $currentPage -}}
  {{- /* reconfigure active and return */ -}}
  {{- $configureActive = true }}
  {{- $newRenderDepth = -1 -}}
{{- else if $visitedPage.IsAncestor $currentPage }}
  {{- /* reconfigure inactive and return */ -}}
  {{- $configureInactive = true }}
{{- else if and ($visitedPage.IsDescendant $currentPage) (eq $currentPage.Kind "section") }}
  {{- /* reconfigure active, decrement, and return */ -}}
  {{- $configureInactive = true }}
  {{- $decrement = true }}
{{- else -}}
  {{- /* must be a page outside the active tree */ -}}
  {{- /* reconfigure inactive, decrement, and return */ -}}
  {{- $configureInactive = true }}
  {{- $decrement = true }}
{{- end -}}

{{- if $configureActive -}}
  {{- with $visitedPage.Params.sidenav -}}
    {{- if isset . "activerenderdepth" -}}
      {{- $newRenderDepth = .activerenderdepth -}}
      {{- $decrement = false }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $configureInactive -}}
  {{- with $visitedPage.Params.sidenav -}}
    {{- if isset . "inactiverenderdepth" -}}
      {{- $newRenderDepth = .inactiverenderdepth -}}
      {{- $decrement = false }}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and ($decrement) (gt $newRenderDepth 0) -}}
  {{- $newRenderDepth = (sub $newRenderDepth 1) -}}
{{- end -}}
{{- return $newRenderDepth -}}
