<a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <section
    class="usa-site-alert usa-site-alert--info usa-site-alert--slim"
    aria-label="Site alert,,,,">
    <div class="usa-alert">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          <strong>DRAFT</strong> This page is currently undergoing review. Post feedback
          to <a href="https://github.com/usnistgov/oscal-tools/issues">Github Issues</a> for this site repository.</p>
      </div>
    </div>
  </section>