{{- $page := .page -}}

{{- $activeRenderDepth := -1 }}
{{- $inactiveRenderDepth := -1 }}

{{- /* first check if the setting is defined on the page's parent */ -}}
{{- if eq $page.Kind "section" -}}
    {{- $parent := $page.Parent -}}

    {{- if (eq $parent.Kind "home") -}}
        {{- with .Site.Params.sidenav -}}
            {{- if isset . "activerenderdepth" -}}
                {{- $activeRenderDepth = .activerenderdepth -}}
            {{- end -}}
            {{- if isset . "inactiverenderdepth" -}}
                {{- $inactiveRenderDepth = .inactiverenderdepth -}}
            {{- end -}}
        {{- end -}}
    {{- else if eq $parent.Kind "section" -}}
        {{- $parentSettings := partial "components/get-nav-settings.html" (dict "page" $parent) -}}

        {{- $activeRenderDepth = $parentSettings.activeRenderDepth -}}
        {{- if gt $parentSettings.activeRenderDepth 0 -}}
            {{- $activeRenderDepth = sub $parentSettings.activeRenderDepth 1 -}}
        {{- end -}}

        {{- $inactiveRenderDepth = $parentSettings.inactiveRenderDepth -}}
    {{- end -}}

    {{- /* check if the setting is defined on the page */ -}}
    {{- with $page.Params.sidenav -}}
        {{- if isset . "activerenderdepth" -}}
            {{- $activeRenderDepth = .activerenderdepth -}}
        {{- end -}}
        {{- if isset . "inactiverenderdepth" -}}
            {{- $inactiveRenderDepth = .inactiverenderdepth -}}
        {{- end -}}
    {{- end -}}
{{- else if eq $page.Kind "page" -}}
    {{- /* the page is a non-section, content page */ -}}
    {{- $parent := $page.Parent -}}
    {{- $parentSettings := partial "components/get-nav-settings.html" (dict "page" $parent) -}}

    {{- $activeRenderDepth = $parentSettings.activeRenderDepth -}}
    {{- if gt $parentSettings.activeRenderDepth 0 -}}
        {{- $activeRenderDepth = sub $parentSettings.activeRenderDepth 1 -}}
    {{- end -}}

    {{- $inactiveRenderDepth = $parentSettings.inactiveRenderDepth -}}
{{- end -}}

{{ return (dict "activeRenderDepth" $activeRenderDepth "inactiveRenderDepth" $inactiveRenderDepth) }}
