
<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
  {{ range $index, $item := . }}
    {{ if eq ( mod $index 2 ) 0 }}
    <div class="usa-graphic-list__row grid-row grid-gap">
    {{ end }}

    <div class="usa-media-block tablet:grid-col">
      <img class="usa-media-block__img"  src="{{ .image.src | relURL }}" alt="{{ .image.alt }}">
      <div class="usa-media-block__body">
        <h3 class="usa-graphic-list__heading">{{ .title }}</h3>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>

    {{ if eq ( mod $index 2 ) 1 }}
    </div>
    {{ end }}
  {{ end }}
  </div>
</section>
