{{ if not (.Site.Params.header.project_name) }}{{ errorf "Site.Params.header.project_name must be set in the site configuration file."}}{{ end }}
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text"><a href="{{"/" | relURL }}" title="{{ .Site.Params.header.project_name }}" aria-label="Home">{{ if .Site.Params.header.project_shortname }} {{ .Site.Params.header.project_shortname }} {{ else }} {{ .Site.Params.header.project_name }} {{ end }}</a></em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="{{"/img/close.svg" | relURL }}" alt="close"></button>
      {{ partialCached "components/header-primary-nav.html" . }}
      {{ partialCached "components/header-search.html" . }}
    </nav>
  </div>
</header>
