<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{"/" | relURL }}" title="Home" aria-label="Home">{{ .Site.Params.header.project_name }}</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="{{"/img/close.svg" | relURL }}" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        {{ $currentPage := . }}
        {{ range .Site.Menus.primary }}
        <li class="usa-nav__primary-item{{if or ($currentPage.IsMenuCurrent "primary" .) ($currentPage.HasMenuCurrent "primary" .) }} usa-current{{end}}">
          <a class="usa-nav__link" href="{{ .URL }}"><span>{{ .Name }}</span></a>
        </li>
        {{ end }}
      </ul>
      <div class="usa-nav__secondary">
        {{ if .Site.Menus.secondary }}
        <ul class="usa-nav__secondary-links">
          {{ range .Site.Menus.secondary }}
          <li class="usa-nav__secondary-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
        <form class="usa-search usa-search--small" action="https://search.usa.gov/search">
          <input id="affiliate" name="affiliate" type="hidden" value="{{ .Site.Params.searchAffiliate }}" />
          <input name="utf8" type="hidden" value="&#x2713;" />
          <div role="search">
            <label class="usa-sr-only" for="extended-search-field-small">Search</label>
            <input class="usa-input" id="query" type="search" name="query">
            <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
