{{ if not (.Site.Params.header.project_name) }}{{ errorf "Site.Params.header.project_name must be set in the site configuration file."}}{{ end }}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{"/" | relURL }}" title="Home" aria-label="Home">{{ .Site.Params.header.project_name }}</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="{{"/img/close.svg" | relURL }}" alt="close"></button>
      {{ partialCached "components/header-primary-nav.html" . }}
      <div class="usa-nav__secondary">
        {{ if .Site.Menus.secondary }}
        <ul class="usa-nav__secondary-links">
          {{ range .Site.Menus.secondary }}
          <li class="usa-nav__secondary-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
        {{ partialCached "components/header-search.html" . }}
      </div>
    </div>
  </nav>
</header>
