{{ $currentPage := .Page }}
{{ $firstSection := .Page.FirstSection }}
{{ $pages := $firstSection.Pages }}
{{- if gt (len $pages) 0 }}
<ul class="usa-sidenav">
  {{ if .Site.Params.sidenav.includeTopLevel | default true }}
    <li>{{ template "sidenav-anchor" (dict "page" $firstSection "currentPage" .Page "extraClasses" "subnav-top-level") }}</li>
  {{ end }}

  {{ range $pages }}
    {{ template "sidenav-item" (dict "page" . "currentPage" $currentPage) }}
  {{ end }}
</ul>
{{ end -}}

{{ define "sidenav-item" }}
  {{ $currentPage := .currentPage }}
  <li>{{ template "sidenav-anchor" (dict "page" .page "currentPage" $currentPage "extraClasses" .page.Kind) }}

  {{ if eq .page.Kind "section"}}
    {{ $pages := .page.Pages }}
    {{ if gt (len $pages) 0 }}
    <ul class="usa-sidenav">
      {{ range $pages }}
        {{ template "sidenav-item" (dict "page" . "currentPage" $currentPage) }}
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
  </li>
{{ end }}

{{ define "sidenav-anchor" }}
  {{ $page := .page }}
  {{ $currentPage := .currentPage }}
  {{ $extraClasses := (print " " .extraClasses) }}

  {{ if eq $page $currentPage }}
    {{ $extraClasses = (print $extraClasses " active-page usa-current") }}
  {{ end }}

  <a class="usa-sidenav__item{{ with $extraClasses }}{{ . }}{{ end }}" href="{{ $page.Permalink }}">{{if $page.Params.sidenav.title }}{{ $page.Params.sidenav.title }}{{ else }}{{ $page.Title }}{{ end }}</a>

  {{ if eq $page $currentPage }}
    <div id="js-toc"></div>
  {{ end }}
{{ end }}
