{{ $currentPage := . }}
{{ $scratch := newScratch }}
{{ $scratch.Set "currentPage" $currentPage }}
{{ $pages := .FirstSection.Pages }}
{{ if gt (len $pages) 0 }}
<ul class="usa-sidenav">
  {{ range $pages }}
    {{ $page := . }}
    {{ $scratch.Set "section" $page }}
    {{ template "section-tree-nav" $scratch }}
  {{ end }}
</ul>
{{ end }}
{{ define "section-tree-nav" }}
  {{ $currentPage := .Get "currentPage" }}
  {{ $page := .Get "section" }}
  <li><a class="usa-sidenav__item{{ if eq $page $currentPage }} usa-current  bg-primary-light{{ end }}" href="{{ $page.Permalink }}">{{if $page.Params.sidenav.title }}{{ $page.Params.sidenav.title }}{{ else }}{{ $page.Title }}{{ end }}</a>
    {{ if eq $page $currentPage }}
    <div id="js-toc"></div>
    {{ end }}
  {{ $pages := $page.Pages }}
  {{ if gt (len $pages) 0 }}
    <ul class="usa-sidenav">
      {{ range $pages }}
        {{ $page := . }}
        {{ if eq .Kind "section"}}
          {{ $scratch := newScratch }}
          {{ $scratch.Set "currentPage" $currentPage }}
          {{ $scratch.Set "section" . }}
          {{ template "section-tree-nav" $scratch }}
        {{ else }}
      <li><a class="usa-sidenav__item{{ if eq $page $currentPage }} usa-current bg-primary-light{{ end }}" href="{{ $page.Permalink }}">{{if $page.Params.sidenav.title }}{{ $page.Params.sidenav.title }}{{ else }}{{ $page.Title }}{{ end }}</a>
        {{ if eq $page $currentPage }}
        <div id="js-toc"></div>
        {{ end }}
      </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
  </li>
{{ end }}
