{{ if not (.Site.Params.header.project_name) }}{{ errorf "Site.Params.header.project_name must be set in the site configuration file."}}{{ end }}
{{ if not (.Site.Params.header.project_shortname) }}{{ errorf "Site.Params.header.project_shortname must be set in the site configuration file."}}{{ end }}
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div id="basic-logo" class="usa-logo">
        <em class="usa-logo__text">
          <a href="{{"/" | relURL }}" title="{{ .Site.Params.header.project_name }}" aria-label="Home">
            <span class="site-title--short">{{ .Site.Params.header.project_shortname }}</span>
            <span class="site-title--long">{{ .Site.Params.header.project_name }}</span>
          </a>
        </em>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="{{"/vendor/uswds/img/usa-icons/close.svg" | relURL }}" alt="close"></button>
      {{ partialCached "components/usa-header/primary-nav.html" . }}
      {{ partialCached "components/usa-search.html" . }}
    </nav>
  </div>
</header>
