# NodeJS files
node_modules/
# Hugo files
public/
resources/_gen
.hugo_build.lock
# copied assets
assets/vendor/scss/uswds/**/*.md
assets/vendor/scss/uswds/**/*.js
assets/vendor/scss/uswds/**/*.json
assets/vendor/scss/uswds/**/*.twig
assets/vendor/scss/**/src/img/
assets/vendor/scss/**/src/test/
assets/vendor/scss/**/src/assets/
assets/vendor/scss/**/src/js/
/tmp/js
/uswds
