
nav.toc-container {
    @include u-position('sticky');
    @include u-top(3);
    max-height: 95vh;
  
    p {
      @include typeset($theme-sidenav-font-family, "sm", 3);
      @include u-text('base-dark','bold');
      
      padding: units(1) units($sidenav-level-1-inset);
      padding-left: .9rem;
      background-color: color('base-lightest');
    }
  
    div#js-toc {
      @include u-overflow-y('hidden');
  //    @include u-position('sticky');
  //    @include u-top(3);
      @include generate-sidenav-nesting('usa-sidenav',0.90, 6);
    
      border-left: units(1px) solid color('base-light');
      max-height: 95vh;
  
      .usa-sidenav {
        // @include typeset('body','sm',1)
        @include u-font-size('body','3xs');
        @include u-padding-y('2px');
        border: none;
  
        code {
          @include u-font-size('body','3xs');
        }
  
        .usa-sidenav__item {
          border: none;
        }
  
        .usa-current {
          @include u-text('primary');
  
          &:after {
            background-color: inherit;
          }
        }
        a:not(.usa-button):not(button.schema-link) {
          @include u-padding-y('2px');
        }
      }
      /*
      div.usa-sidenav {
        a.subnav-top-level {
          @include u-text('bold');
          background-color: color('base-lightest');
          padding-left: 0.90rem;
        }
  
        div#js-toc {
        }
      }
  */
    }
  }
  
  a.toc-link {
    height:100%
   }
   .is-collapsible {
    max-height:1000px;
    overflow:hidden;
    transition:all 300ms ease-in-out
   }
   .is-collapsed {
    max-height:0
   }
   .is-position-fixed {
    position:fixed !important;
    top:0
   }
  */
nav.toc-container {
  @include u-position('sticky');
  @include u-top(3);
  max-height: 95vh;

  p {
    @include typeset($theme-sidenav-font-family, "sm", 3);
    @include u-text('base-dark','bold');
    
    padding: units(1) units($sidenav-level-1-inset);
    padding-left: .9rem;
    background-color: color('base-lightest');
  }

  div#js-toc {
    @include u-overflow-y('hidden');
//    @include u-position('sticky');
//    @include u-top(3);
    @include generate-sidenav-nesting('usa-sidenav',0.90, 6);
  
    border-left: units(1px) solid color('base-light');
    max-height: 95vh;

    .usa-sidenav {
      // @include typeset('body','sm',1)
      @include u-font-size('body','3xs');
      @include u-padding-y('2px');
      border: none;

      code {
        @include u-font-size('body','3xs');
      }

      .usa-sidenav__item {
        border: none;
      }

      .usa-current {
        @include u-text('primary');

        &:after {
          background-color: inherit;
        }
      }
      a:not(.usa-button):not(button.schema-link) {
        @include u-padding-y('2px');
      }
    }
    /*
    div.usa-sidenav {
      a.subnav-top-level {
        @include u-text('bold');
        background-color: color('base-lightest');
        padding-left: 0.90rem;
      }

      div#js-toc {
      }
    }
*/
  }
}

a.toc-link {
  height:100%
 }
 .is-collapsible {
  max-height:1000px;
  overflow:hidden;
  transition:all 300ms ease-in-out
 }
 .is-collapsed {
  max-height:0
 }
 .is-position-fixed {
  position:fixed !important;
  top:0
 }
*/