$theme-font-path:   '{{ $.Site.BaseURL }}/fonts';
$theme-image-path:  '{{ $.Site.BaseURL }}/img';
$theme-hero-image:  '{{ $.Site.BaseURL }}/img/hero.png';

@import 'hugo-uswds-settings';
@import 'hugo-uswds-theme';
@import 'uswds';
@import 'hugo-callout';
@import 'hugo-sidenav';
@import 'hugo-markdown';
@import 'hugo-syntax';
@import 'hugo-imagemap';
@import 'hugo-codetabs';
@import 'hugo-uswds-print';
@import 'hugo-uswds-extra';
@import 'hugo-uswds-custom';
