/* This file can be overridden by creating a file with the same name under assets/scss */
/* This file can be used to apply theme specific settings, based on the settings
   in the theme subdirectory. For example: */

/*
$theme-site-max-width: 'full';
$theme-grid-container-max-width: 'full';
$theme-banner-max-width: 'full';
$theme-header-max-width: 'full';
$theme-text-measure: 'none';
*/


