
div.highlight {
  display: flex;
/*
  >div.chroma > table {
    display: table;
  }
*/
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
  border: units('1px') solid color('base-light');
  background-color: color('gray-cool-2');

  pre {
    padding: 0;
    margin: 0;
  }
  > pre.chroma {
    padding: 0 0.5rem;
    width: max-content;
  }
  > div.chroma, > pre.chroma {
    overflow-x: auto;
  }

  /* LineTableTD */ .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: inherit;

    >pre {
      margin: 0;
    }

    &:nth-child(1) > pre {
      padding-right: 0;
      border-right: units('1px') solid color('base-lighter');
    }

    &:nth-child(2) {
      padding: 0 0.25rem;
    }
  }
  /* LineTable */ .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }

  /* LineNumbersTable */ .lnt {
    padding: 0 0.5em 0 0.5em;
    display: block;
  }

  /* LineNumbers */ .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.5em;
  }

  code {
    @include u-font-family('mono');
    background-color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
  }

  .chroma {

    // "light" styles
    // ==============
    /* Background */
    color: color('gray-70');

    /* Error */ .err {
      color: color('white');
      background-color: color('red-60v');
    }
    /* LineHighlight */ .hl {
      display: block;
      width: 100%;
      background-color: color('yellow-5');
    }
    /* LineNumbersTable */ .lnt {
      color: color('gray-50');
    }
    /* LineNumbers */ .ln {
      color: color('gray-50');
    }
    /* Keyword */ .k {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* KeywordConstant */ .kc {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* KeywordDeclaration */ .kd {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* KeywordNamespace */ .kn {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* KeywordPseudo */ .kp {
      color: color('blue-warm-50v');
    }
    /* KeywordReserved */ .kr {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* KeywordType */ .kt {
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* NameAttribute */ .na {
      color: color('accent-cool-dark');  /*#000080*/
      @include u-text('bold');
    }
    /* NameBuiltin */ .nb {
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* NameBuiltinPseudo */ .bp {
      color: color('indigo-warm-60');
    }
    /* NameClass */ .nc {
      @include u-text('underline');
    }
    /* NameConstant */ .no {
      color: color('blue-cool-50');
    }
    /* NameDecorator */ .nd {
      color: color('orange-30v');
      @include u-text('bold');
    }
    /* NameEntity */ .ni {
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* NameException */ .ne {
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* NameFunction */ .nf {
      color: color('orange-30v');
      @include u-text('bold');
    }
    /* NameLabel */ .nl {
      // Check color
      color: color('blue-80v');
      @include u-text('bold');
    }
    /* NameNamespace */ .nn {
      color: color('blue-cool-50v');
      @include u-text('bold');
    }
    /* NameTag */ .nt {
      color: color('primary');  /*#000080*/
      @include u-text('bold');
    }
    /* NameVariable */ .nv {
      // Check color
      color: color('violet-warm-50');
    }
    /* NameVariableClass */ .vc {
      // Check color
      color: color('violet-warm-50');
      @include u-text('underline');
    }
    /* NameVariableGlobal */ .vg {
      // Check color
      color: color('violet-warm-50');
      @include u-text('bold');
    }
    /* NameVariableInstance */ .vi {
      // Check color
      color: color('violet-warm-50');
    }
    /* LiteralString */ .s {
      // Check color
      color: color('mint-40');
    }
    /* LiteralStringAffix */ .sa {
      // Check color
      color: color('mint-40');
    }
    /* LiteralStringBacktick */ .sb {
      // Check color
      color: color('mint-40');
    }
    /* LiteralStringChar */ .sc {
      // Check color
      color: color('mint-40');
    }
    /* LiteralStringDelimiter */ .dl {
      // Check color
      color: color('mint-40');
    }
    /* LiteralStringDoc */ .sd {
      color: color('mint-40');
      @include u-text('italic')
    }
    /* LiteralStringDouble */ .s2 {
      // check color
      color: color('mint-40');
    }
    /* LiteralStringEscape */ .se {
      // check color
      color: color('red-60v');
      @include u-text('bold');
    }
    /* LiteralStringHeredoc */ .sh {
      // check color
      color: color('red-60v');
    }
    /* LiteralStringInterpol */ .si {
      // check color
      color: color('blue-30');
      @include u-text('italic')
    }
    /* LiteralStringOther */ .sx {
      color: color('blue-cool-50');
    }
    /* LiteralStringRegex */ .sr {
      // check color
      color: color('red-60v');
      @include u-text('bold');
    }
    /* LiteralStringSingle */ .s1 {
      // check color
      color: color('blue-cool-50');
    }
    /* LiteralStringSymbol */ .ss {
      // check color
      color: color('red-60v');
      @include u-text('bold');
    }
    /* LiteralNumber */ .m {
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberBin */ .mb {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberFloat */ .mf {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberHex */ .mh {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberInteger */ .mi {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberIntegerLong */ .il {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* LiteralNumberOct */ .mo {
      // check color
      color: color('indigo-warm-60');
      @include u-text('bold');
    }
    /* Operator */ .o {
      color: color('blue-warm-50v');
    }
    /* OperatorWord */ .ow {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* Comment */ .c {
      color: color('blue-50v');
      @include u-text('italic')
    }
    /* CommentHashbang */ .ch {
      color: color('blue-50v');
      @include u-text('italic')
    }
    /* CommentMultiline */ .cm {
      color: color('blue-50v');
      @include u-text('italic')
    }
    /* CommentSingle */ .c1 {
      color: color('blue-50v');
      @include u-text('italic')
    }
    /* CommentSpecial */ .cs {
      color: color('blue-50v');
      background-color: color('red-10v');
    }
    /* CommentPreproc */ .cp {
      color: color('green-cool-50v');
      @include u-text('italic')
    }
    /* CommentPreprocFile */ .cpf {
      color: color('green-cool-50v');
      @include u-text('italic');
    }
    /* GenericDeleted */ .gd {
      @include u-border('red-60v',2px);
      background-color: color('red-10v');
    }
    /* GenericEmph */ .ge {
      @include u-text('italic');
    }
    /* GenericError */ .gr {
      color: color('red-50v');
    }
    /* GenericHeading */ .gh {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* GenericInserted */ .gi {
      @include u-border('green-50v',2px);
      background-color: color('green-10v');
    }
    /* GenericOutput */ .go {
      color: color('gray-30');
    }
    /* GenericPrompt */ .gp {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* GenericStrong */ .gs {
      @include u-text('bold');
    }
    /* GenericSubheading */ .gu {
      color: color('blue-warm-50v');
      @include u-text('bold');
    }
    /* GenericTraceback */ .gt {
      color: color('red-50v');
    }
    /* GenericUnderline */ .gl {
      @include u-text('underline');
    }
    /* TextWhitespace */ .w {
      color: color('gray-warm-20');
    }

    p {
      color: color('gray-70');  /*#000080*/
    }
  }

  &.dark {
    td:nth-child(1) .lnt {
      color: color('white');
    }
    /* Background */ .chroma {
      background-color: color('gray-cool-70');
      color: color('gray-5');

      /* Error */ .err {
        color: color('white');
        background-color: color('red-60v');
      }
      /* LineHighlight */ .hl {
        background-color: color('yellow-5');
      }
      /* LineNumbersTable */ .lnt {
        color: color('gray-50');
      }
      /* LineNumbers */ .ln {
        color: color('gray-50');
      }
      /* Keyword */ .k {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* KeywordConstant */ .kc {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* KeywordDeclaration */ .kd {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* KeywordNamespace */ .kn {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* KeywordPseudo */ .kp {
        color: color('blue-warm-50v');
      }
      /* KeywordReserved */ .kr {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* KeywordType */ .kt {
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* NameAttribute */ .na { // done
        color: color('blue-10');
        @include u-text('bold');
      }
      /* NameBuiltin */ .nb {
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* NameBuiltinPseudo */ .bp {
        color: color('indigo-warm-60');
      }
      /* NameClass */ .nc {
        @include u-text('underline');
      }
      /* NameConstant */ .no {
        color: color('blue-cool-50');
      }
      /* NameDecorator */ .nd {
        color: color('orange-30v');
        @include u-text('bold');
      }
      /* NameEntity */ .ni {
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* NameException */ .ne {
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* NameFunction */ .nf {
        color: color('orange-30v');
        @include u-text('bold');
      }
      /* NameLabel */ .nl {
        // Check color
        color: color('blue-80v');
        @include u-text('bold');
      }
      /* NameNamespace */ .nn {
        color: color('blue-cool-50v');
        @include u-text('bold');
      }
      /* NameTag */ .nt { // done
        color: color('blue-cool-20v');
        @include u-text('bold');
      }
      /* NameVariable */ .nv {
        // Check color
        color: color('violet-warm-50');
      }
      /* NameVariableClass */ .vc {
        // Check color
        color: color('violet-warm-50');
        @include u-text('underline');
      }
      /* NameVariableGlobal */ .vg {
        // Check color
        color: color('violet-warm-50');
        @include u-text('bold');
      }
      /* NameVariableInstance */ .vi {
        // Check color
        color: color('violet-warm-50');
      }
      /* LiteralString */ .s { // done
        // Check color
        color: color('gray-20');
      }
      /* LiteralStringAffix */ .sa { // done
        // Check color
        color: color('gray-5');
      }
      /* LiteralStringBacktick */ .sb { // done
        // Check color
        color: color('gray-5');
      }
      /* LiteralStringChar */ .sc { // done
        // Check color
        color: color('gray-5');
      }
      /* LiteralStringDelimiter */ .dl { // done
        // Check color
        color: color('gray-5');
      }
      /* LiteralStringDoc */ .sd { // done
        color: color('gray-5');
        @include u-text('italic')
      }
      /* LiteralStringDouble */ .s2 {
        // check color
        color: color('white');
      }
      /* LiteralStringEscape */ .se {
        // check color
        color: color('red-60v');
        @include u-text('bold');
      }
      /* LiteralStringHeredoc */ .sh {
        // check color
        color: color('red-60v');
      }
      /* LiteralStringInterpol */ .si {
        // check color
        color: color('blue-30');
        @include u-text('italic')
      }
      /* LiteralStringOther */ .sx {
        color: color('blue-cool-50');
      }
      /* LiteralStringRegex */ .sr {
        // check color
        color: color('red-60v');
        @include u-text('bold');
      }
      /* LiteralStringSingle */ .s1 {
        // check color
        color: color('blue-cool-50');
      }
      /* LiteralStringSymbol */ .ss {
        // check color
        color: color('red-60v');
        @include u-text('bold');
      }
      /* LiteralNumber */ .m {
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberBin */ .mb {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberFloat */ .mf {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberHex */ .mh {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberInteger */ .mi {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberIntegerLong */ .il {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* LiteralNumberOct */ .mo {
        // check color
        color: color('indigo-warm-60');
        @include u-text('bold');
      }
      /* Operator */ .o {
        color: color('blue-warm-50v');
      }
      /* OperatorWord */ .ow {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* Comment */ .c { // done
        color: color('green-cool-20');
        @include u-text('italic')
      }
      /* CommentHashbang */ .ch {
        color: color('blue-50v');
        @include u-text('italic')
      }
      /* CommentMultiline */ .cm {
        color: color('blue-50v');
        @include u-text('italic')
      }
      /* CommentSingle */ .c1 {
        color: color('blue-50v');
        @include u-text('italic')
      }
      /* CommentSpecial */ .cs {
        color: color('blue-50v');
        background-color: color('red-10v');
      }
      /* CommentPreproc */ .cp {
        color: color('green-cool-50v');
        @include u-text('italic')
      }
      /* CommentPreprocFile */ .cpf {
        color: color('green-cool-50v');
        @include u-text('italic');
      }
      /* GenericDeleted */ .gd {
        @include u-border('red-60v',2px);
        background-color: color('red-10v');
      }
      /* GenericEmph */ .ge {
        @include u-text('italic');
      }
      /* GenericError */ .gr {
        color: color('red-50v');
      }
      /* GenericHeading */ .gh {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* GenericInserted */ .gi {
        @include u-border('green-50v',2px);
        background-color: color('green-10v');
      }
      /* GenericOutput */ .go {
        color: color('gray-30');
      }
      /* GenericPrompt */ .gp {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* GenericStrong */ .gs {
        @include u-text('bold');
      }
      /* GenericSubheading */ .gu {
        color: color('blue-warm-50v');
        @include u-text('bold');
      }
      /* GenericTraceback */ .gt {
        color: color('red-50v');
      }
      /* GenericUnderline */ .gl {
        @include u-text('underline');
      }
      /* TextWhitespace */ .w {
        color: color('gray-warm-20');
      }

      p {
        color: color('gray-70');  /*#000080*/
      }

      code.language-YAML {
        color: color('blue-cool-20v');
        @include u-text('bold');
      }
    }
  }
}

/*
div.highlight  > div.chroma {
  margin-left: auto !important;
  margin-right: auto !important;
}
*/

code.language-YAML {
  //color: color('accent-cool-dark');  /*#000080*/
  //@include u-text('bold');
  .p {
    @include u-text('bold');
  }
}
