
aside > .usa-sidenav {
  position: sticky;
  top: 0;
}

aside .usa-sidenav .subnav-top-level  {
  @include u-text('bold');
  background-color: color('base-lightest');
}
/*
.usa-sidenav__sublist .usa-sidenav__sublist .usa-sidenav__sublist .usa-sidenav__sublist a {
  padding-left: 5rem;
}
*/
.usa-sidenav {
  a {
    padding-left: 1rem;
  }
  .usa-sidenav {
    a {
      padding-left: 2rem;
    }
    .usa-sidenav {
      a {
        padding-left: 3rem;
      }
      .usa-sidenav {
        a {
          padding-left: 4rem;
        }
        .usa-sidenav {
          a {
            padding-left: 5rem;
          }
          .usa-sidenav {
            a {
              padding-left: 6rem;
            }
            .usa-sidenav {
              a {
                padding-left: 7rem;
              }
            }
          }
        }
      }
    }
  }
}
/*
.usa-sidenav__sublist .usa-sidenav__sublist .usa-sidenav__sublist .usa-sidenav__sublist a {
  padding-left: 5rem;
}
*/

/* fix extra line */
ul.usa-sidenav ul.usa-sidenav {
  border-bottom: none;
}
/*
.toc {
 overflow-y:auto
}
.toc>.toc-list {
 overflow:hidden;
 position:relative
}
*/
a.toc-link {
 height:100%
}
.is-collapsible {
 max-height:1000px;
 overflow:hidden;
 transition:all 300ms ease-in-out
}
.is-collapsed {
 max-height:0
}
.is-position-fixed {
 position:fixed !important;
 top:0
}

.usa-sidenav .active-page {
  background-color: color('primary-lighter');
}

div#js-toc > ul.usa-sidenav {
  border: units(2px) solid color('primary-lighter');
}
