/* default styling for tables in Markdown */
table {
  @extend .usa-table;
}

blockquote {
  margin-left: 0px;
  padding-left: units(1);
  border-left: units(2px) solid color('base-light');
}

/* Code highlighting */
/* ----------------- */
code,
kbd,
pre,
samp {
  @include typeset('mono');
}

h1 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 13);
  }
}

h2 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 11);
  }
}

h3 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 8);
  }
}

h4 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 5);
  }
}

h5 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 4);
  }
}

h6 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 2);
  }
}

li code, p code {
  background-color: color('base-lightest');
  padding: 0 units('2px') 0 units('2px');
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  margin: 0 2px 0 2px;
}

/* fix code highlighting in alerts */
.usa-alert--success {
  p code {
    background-color: color('success-light');
  }
}
.usa-alert--warning {
  p code {
    background-color: color('warning-light');
  }
}
.usa-alert--error {
  p code {
    background-color: color('error-light');
  }
}
.usa-alert--info {
  p code {
    background-color: color('info-light');
  }
}
.usa-alert--emergency {
  p code {
    background-color: color('emergency');
  }
}

.usa-prose > p + *, p + * {
  margin-top: 0.5em;
}

.usa-prose > * + h1, .usa-prose > * + h2, .usa-prose > * + h3, .usa-prose > * + h4, .usa-prose > * + h5, .usa-prose > * + h6, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1em;
}