/* default styling for tables in Markdown */
table {
  @extend .usa-table;
}

/* Code highlighting */
/* ----------------- */
code,
kbd,
pre,
samp {
  @include typeset('mono');
}

h1 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 13);
  }
}

h2 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 11);
  }
}

h3 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 8);
  }
}

h4 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 5);
  }
}

h5 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 4);
  }
}

h6 {
  code,
  kbd,
  pre,
  samp {
    @include typeset('mono', 2);
  }
}

li code, p code {
  background-color: color('base-lightest');
  padding: 0 units('2px') 0 units('2px');
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  margin: 0 2px 0 2px;
}

/* fix code highlighting in alerts */
@each $name, $bgcolor in $alerts {
  .usa-alert--#{$name} {
    p code {
      background-color: color($name+'-light');
    }
  }
}
