/* Background */ .chroma { // done
  background-color: color('gray-cool-2');
  color: color('gray-70');
}
/* Error */ .chroma .err { // done
  color: color('white');
  background-color: color('red-60v');
}
/* LineTableTD */ .chroma .lntd { // done
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */ .chroma .lntable { // done
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */ .chroma .hl { // done
  display: block;
  width: 100%;
  background-color: color('yellow-5');
}
/* LineNumbersTable */ .chroma .lnt { // done
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: color('gray-50');
}
/* LineNumbers */ .chroma .ln { // done
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: color('gray-50');
}
/* Keyword */ .chroma .k { // done
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* KeywordConstant */ .chroma .kc { // done
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* KeywordDeclaration */ .chroma .kd { // done
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* KeywordNamespace */ .chroma .kn { // done
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* KeywordPseudo */ .chroma .kp { // done
  color: color('blue-warm-50v');
}
/* KeywordReserved */ .chroma .kr { // done
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* KeywordType */ .chroma .kt { // done
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* NameAttribute */ .chroma .na {
  color: color('accent-cool-dark');  /*#000080*/
  @include u-text('bold');
}
/* NameBuiltin */ .chroma .nb {
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* NameBuiltinPseudo */ .chroma .bp {
  color: color('indigo-warm-60');
}
/* NameClass */ .chroma .nc {
  @include u-text('underline');
}
/* NameConstant */ .chroma .no {
  color: color('blue-cool-50');
}
/* NameDecorator */ .chroma .nd {
  color: color('orange-30v');
  @include u-text('bold');
}
/* NameEntity */ .chroma .ni {
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* NameException */ .chroma .ne {
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* NameFunction */ .chroma .nf {
  color: color('orange-30v');
  @include u-text('bold');
}
/* NameLabel */ .chroma .nl { // done
  // Check color
  color: color('blue-80v');
  @include u-text('bold');
}
/* NameNamespace */ .chroma .nn {
  color: color('blue-cool-50v');
  @include u-text('bold');
}
/* NameTag */ .chroma .nt {
  color: color('primary');  /*#000080*/
  @include u-text('bold');
}
/* NameVariable */ .chroma .nv {
  // Check color
  color: color('violet-warm-50');
}
/* NameVariableClass */ .chroma .vc {
  // Check color
  color: color('violet-warm-50');
  @include u-text('underline');
}
/* NameVariableGlobal */ .chroma .vg {
  // Check color
  color: color('violet-warm-50');
  @include u-text('bold');
}
/* NameVariableInstance */ .chroma .vi {
  // Check color
  color: color('violet-warm-50');
}
/* LiteralString */ .chroma .s {
  // Check color
  color: color('mint-40');
}
/* LiteralStringAffix */ .chroma .sa {
  // Check color
  color: color('mint-40');
}
/* LiteralStringBacktick */ .chroma .sb {
  // Check color
  color: color('mint-40');
}
/* LiteralStringChar */ .chroma .sc {
  // Check color
  color: color('mint-40');
}
/* LiteralStringDelimiter */ .chroma .dl {
  // Check color
  color: color('mint-40');
}
/* LiteralStringDoc */ .chroma .sd {
  color: color('mint-40');
  @include u-text('italic')
}
/* LiteralStringDouble */ .chroma .s2 {
  // check color
  color: color('mint-40');
}
/* LiteralStringEscape */ .chroma .se { // done
  // check color
  color: color('red-60v');
  @include u-text('bold');
}
/* LiteralStringHeredoc */ .chroma .sh {
  // check color
  color: color('red-60v');
}
/* LiteralStringInterpol */ .chroma .si { // done
  // check color
  color: color('blue-30');
  @include u-text('italic')
}
/* LiteralStringOther */ .chroma .sx {
  color: color('blue-cool-50');
}
/* LiteralStringRegex */ .chroma .sr {
  // check color
  color: color('red-60v');
  @include u-text('bold');
}
/* LiteralStringSingle */ .chroma .s1 {
  // check color
  color: color('blue-cool-50');
}
/* LiteralStringSymbol */ .chroma .ss { // done
  // check color
  color: color('red-60v');
  @include u-text('bold');
}
/* LiteralNumber */ .chroma .m {
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberBin */ .chroma .mb {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberFloat */ .chroma .mf {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberHex */ .chroma .mh {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberInteger */ .chroma .mi {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberIntegerLong */ .chroma .il {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* LiteralNumberOct */ .chroma .mo {
  // check color
  color: color('indigo-warm-60');
  @include u-text('bold');
}
/* Operator */ .chroma .o {
  color: color('blue-warm-50v');
}
/* OperatorWord */ .chroma .ow {
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* Comment */ .chroma .c { // done
  color: color('blue-50v');
  @include u-text('italic')
}
/* CommentHashbang */ .chroma .ch { // done
  color: color('blue-50v');
  @include u-text('italic')
}
/* CommentMultiline */ .chroma .cm { // done
  color: color('blue-50v');
  @include u-text('italic')
}
/* CommentSingle */ .chroma .c1 { // done
  color: color('blue-50v');
  @include u-text('italic')
}
/* CommentSpecial */ .chroma .cs { // done
  color: color('blue-50v');
  background-color: color('red-10v');
}
/* CommentPreproc */ .chroma .cp { // done
  color: color('green-cool-50v');
  @include u-text('italic')
}
/* CommentPreprocFile */ .chroma .cpf { // done
  color: color('green-cool-50v');
  @include u-text('italic');
}
/* GenericDeleted */ .chroma .gd {
  @include u-border('red-60v',2px);
  background-color: color('red-10v');
}
/* GenericEmph */ .chroma .ge {
  @include u-text('italic');
}
/* GenericError */ .chroma .gr {
  color: color('red-50v');
}
/* GenericHeading */ .chroma .gh {
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* GenericInserted */ .chroma .gi {
  @include u-border('green-50v',2px);
  background-color: color('green-10v');
}
/* GenericOutput */ .chroma .go {
  color: color('gray-30');
}
/* GenericPrompt */ .chroma .gp {
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* GenericStrong */ .chroma .gs {
  @include u-text('bold');
}
/* GenericSubheading */ .chroma .gu {
  color: color('blue-warm-50v');
  @include u-text('bold');
}
/* GenericTraceback */ .chroma .gt {
  color: color('red-50v');
}
/* GenericUnderline */ .chroma .gl {
  @include u-text('underline');
}
/* TextWhitespace */ .chroma .w { // done
  color: color('gray-warm-20');
}

.chroma .p { // done
  color: color('gray-70');  /*#000080*/
}

div.highlight {
  display: flex;
}

div.highlight > pre.chroma {
  padding: 4px 10px;
  //background-color: color('gray-cool-2');
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: max-content;
}

div.highlight > div.chroma > table {
  display: table;
}

/*
div.highlight  > div.chroma {
  margin-left: auto !important;
  margin-right: auto !important;
}
*/

div.highlight td {
  background-color: color('gray-cool-2');
}

div.highlight td:nth-child(1) {
  padding-right: 0.5rem;
}

div.highlight td:nth-child(2) {
  padding-right: 16px;
}

code.language-yaml {
  //color: color('accent-cool-dark');  /*#000080*/
  //@include u-text('bold');
  .p {
    @include u-text('bold');
  }
}
