{{ define "head" }}
{{ partial "head.html" . }}
{{ end }}

{{ define "main" }}
{{ with .Params.usabanner }}{{ partial "components/banner.html" . }}{{ end }}
{{ partial "components/header-extended.html" . }}
<main id="main-content">
  {{ with .Params.alert }}
  <section id="index-alert" class="usa-section padding-y-0">
    <div class="grid-container">
      {{ partial "components/alert.html" . }}
    </div>
  </section>
  {{ end }}
  {{$baseurl := .Site.BaseURL }}
  {{ with .Params.hero }}{{ partial "components/hero.html" (dict "hero" . "BaseURL" $baseurl) }}{{ end }}
  {{ with .Params.intro }}{{ partial "components/tagline.html" . }}{{ end }}
  {{ with .Params.graphicList }}{{ partial "components/graphic-list.html" . }}{{ end }}

  <section id="index-content" class="usa-section">
    <div class="grid-container">
    {{ .Content }}
    </div>
  </section>
</main>
{{ end }}

{{ define "foot" }}
{{ partial "foot.html" . }}
{{ end }}
