{{ define "head" }}
{{ partial "head.html" . }}
{{ end }}

{{ define "main" }}
{{ with .Params.usabanner }}{{ partial "components/banner.html" . }}{{ end }}
{{ partial "components/header-basic.html" . }}
<main class="usa-layout-docs" id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">
{{ $firstSection := .Page.FirstSection.Pages }}
{{ if and .Page.FirstSection (gt (len .Page.FirstSection.Pages) 0) }}
      <aside class="usa-layout-docs__sidenav widescreen:grid-col-2 desktop:grid-col-3">
    {{ partial "components/sidenav.html" . }}
      </aside>
{{ end -}}
      <div id="main-content" class="usa-layout-docs__main {{ if and .Page.FirstSection (gt (len .Page.FirstSection.Pages) 0) }}widescreen:grid-col-10 desktop:grid-col-9{{else}}widescreen:grid-col-12 desktop:grid-col-12{{end}}">
        {{ with .Params.alert }}{{ partial "components/alert.html" . }}{{ end }}
        <article>
          <header>
            {{ if isset .Params "heading" }}<h1>{{ .Params.heading }}</h1>{{else}}<h1>{{ .Title }}</h1>{{ end }}
          </header>
          {{ .Content }}
        </article>
        {{ if not (.Site.Params.suppressTopicLists | default false) }}
          {{ $pages := .Pages }}
          {{ if gt (len $pages) 0 }}
          <h1>This section contains the following topics:</h1>
          <ul>
          {{ range $index, $page := .Pages }}
            <li><a class="usa-link" href="{{.Permalink}}"><b>{{.Title}}{{ if .Description }}:{{end}}</b></a>{{ if .Description }} {{ .Description | markdownify }}{{end}}</li>
          {{ end }}
          </ul>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}

{{ define "foot" }}
{{ partial "foot.html" . }}
{{ end }}
