@use "uswds-core" as *;
@use "../variables" as *;

.site-sidenav {
  display: none;

  @include at-media("desktop") {
    display: block;
    float: left;
    margin-bottom: units(6);
    margin-top: units(2);
    padding-right: 0;
    padding-left: units(4);
    width: units($width-nav-sidebar);
    top: 4em;
  }
}

.site-sidenav .usa-sidenav {
  @include typeset($theme-sidenav-font-family, "2xs", 3);
  background-color: color("white");
  border: units($site-border-width) solid color("black-transparent-10");
  border-radius: radius("md");
  padding: 0;

  .usa-sidenav__sublist {
    position: relative;
  }

  a {
    @include u-padding-x(2);
    color: color("base-darker");

    &:hover {
      background-color: transparent;
      color: color($site-primary-vivid);
    }
  }

  .usa-current {
    color: color("base-darker");
//    position: static;
    position: relative;

    &::after {
      content: "";
      border-radius: 0;
      background-color: color($site-primary-vivid);
      bottom: units(-1px);
      left: units($site-border-width) * -1;
      top: units(0);
      z-index: z(100);
    }
  }

  .usa-sidenav__item:first-child {
    .usa-current::after {
      border-top-left-radius: radius("md");
      top: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item:last-child {
    .usa-current::after {
      border-bottom-left-radius: radius("md");
      bottom: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item {
    border-top: none;
    line-height: lh("lang", 3);
    position: relative;

    &.usa-subnav__top-level > a {
      @include u-text('bold');
      background-color: color('base-lightest');
      padding-left: 0.90rem;
    }

    & + .usa-sidenav__item {
      a {
        // TODO: use 'black-transparent-5' when value changes
        border-top: units(1px) solid rgba(0, 0, 0, 0.05);
      }
    }

    &.is-current {
      background-color: color($site-background-color);

      .is-current {
        background-color: transparent;
      }
    }
  }

  .usa-sidenav__sublist {
    @include typeset($theme-sidenav-font-family, "2xs", 3);
    a {
      border-top: units(1px) solid rgba(0, 0, 0, 0.05);
      padding-left: units(2);
    }

    .usa-current {
      color: color($site-primary-vivid);
    }

    .usa-sidenav__sublist {
      a {
        padding-left: units(4);
      }
    }
  }
}