{{- $page := .page -}}
{{- $activePage := .activePage -}}
{{- $parentRenderDepth := .parentRenderDepth -}}

{{- /*
  A negative renderDepth is unlimited.
  A render depth of 0 indicates the target page is not rendered.
  A positive N render depth will cause the current page to render, and N - 1 children.

  The following page parameters affect the render depth calculation.
  1. sidenav.activerenderdepth applies to the current page and index ancestors of the active page.
  2. sidenav.focusrenderdepth applies to descendants of the current page only if the current page is an index.
  3. sidenav.inactiverenderdepth applies to pages that are not direct ancestor or descendant of the current page.
*/ -}}
{{- $renderDepth := -100 -}}

{{- /* derive the current render depth based on the parent */ -}}
{{- if and (eq $page.Kind "section") ($page.IsAncestor $activePage) }}
  {{- /* page is a parent of the active page */ -}}
  {{- $renderDepth = -10 -}}
{{- else if lt $parentRenderDepth 0 -}}
  {{- /* the default render depth is unlimited (.e.g., -1) */ -}}
  {{- $renderDepth = -10000 }}
{{- else if eq $parentRenderDepth 0 -}}
  {{- /* the parent is zero (.i.e., not displayed), so we are too */ -}}
  {{- $renderDepth = 0 }}
{{- else -}}
  {{- /* decrement the parent */ -}}
  {{- $renderDepth = sub $parentRenderDepth 1 -}}
{{- end -}}

{{- if isset .page.Params "sidenav" -}}
  {{- /* apply page settings to sidenav */ -}}
  {{- if or (and (eq $page.Kind "section") ($page.IsAncestor $activePage)) (eq $page $activePage) -}}
    {{- /* the page is the current page or a ancestor section */ -}}
    {{- $renderDepth = -2 -}}

    {{- /* override with page settings */ -}}
    {{- with $page.Params.sidenav -}}
      {{- if isset . "activerenderdepth" -}}
          {{- $renderDepth = .activerenderdepth -}}
      {{- end -}}
    {{- end -}}
  {{- else if and ($page.IsDescendant $activePage) (eq $activePage.Kind "section") }}
    {{- /* page is a descendent of the active page. */ -}}
    {{- /* override with page settings */ -}}
    {{- with $page.Params.sidenav -}}
      {{- if isset . "focusrenderdepth" -}}
          {{- $renderDepth = .focusrenderdepth -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- /* page is an inactive cousin of active page. */ -}}
    {{- /* override with page settings */ -}}
    {{- with $page.Params.sidenav -}}
      {{- if isset . "inactiverenderdepth" -}}
          {{- $renderDepth = .inactiverenderdepth -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $renderDepth -}}
